$darkOrange: #c3602c;
$orange: #bf8821;
$purple: #9770d2;
$blue: #0477bf;
$background-color: rgba(38, 38, 38, 0.9);

@import "partials/layout";
@import "partials/classes";
@import "partials/header";
@import "partials/skills";
@import "partials/index";
@import "partials/projects";
@import "partials/forms";
@import "partials/table";
